html{
    height:100%;
    margin:0;
    padding:0;
}

body{
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:'Major Mono Display', monospace;
    font-size:1.5vmin;
}
h1{
    margin:0;
}

#calculator{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#outputBox{
    background-color:black;
    width:56vmin;
    color:green;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    border-top-left-radius:2vmin;
    border-top-right-radius:2vmin;
    overflow:hidden;
    font-family:'Major Mono Display', monospace;
    font-size:1.5vmin;
}

#output h2{
    padding-right:1vmin;
    overflow:hidden;
}

#buttons{
    display:flex;
    flex-direction:column;
}

.row{
    display:flex;
    flex-direction:row;
    width:100%;
}

#decimal{
    width:25%;
}

#zero{
    width:50%;
}

#multiply{
    width:25%;
}

button{
    width:14vmin;
    height:10vmin;
    background-color:bisque;
    border:1px solid black;
    font-family:'Major Mono Display', monospace;
    font-size:5vmin;
}

.operators{
    background-color:rgb(236, 178, 241);
}

button:hover{
    cursor:pointer;
}

button:active{
    background-color:rgb(247, 176, 91);
}

.last-row{
    width:56vmin;
    display:flex;
}

.last-row #equals{
    width:75%;
}

.last-row #divide{
    width:25%;
}